:root {
  --background: #9c88ff;
  --navbar-width: 256px;
  --navbar-width-min: 80px;
  --navbar-dark-primary: #18283b;
  --navbar-dark-secondary: #2c3e50;
  --navbar-light-primary: #f5f6fa;
  --navbar-light-secondary: #8392a5;
}

html,
body {
  margin: 0;
  background: var(--background);
}

#nav-toggle:checked ~ #left-menu,
#nav-toggle:checked ~ #right-menu {
  width: var(--navbar-width-min);
}

#nav-toggle:checked ~ #left-menu #nav-title,
#nav-toggle:checked ~ #right-menu #nav-title {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s;
}

#nav-toggle:checked ~ #left-menu label[for="nav-toggle"],
#nav-toggle:checked ~ #right-menu label[for="nav-toggle"] {
  left: calc(50% - 8px);
  transform: translate(-50%);
}

#nav-toggle:checked ~ #left-menu #nav-toggle-burger,
#nav-toggle:checked ~ #right-menu #nav-toggle-burger {
  background: var(--navbar-light-primary);
}

#nav-toggle:checked ~ #left-menu #nav-toggle-burger:before,
#nav-toggle:checked ~ #right-menu #nav-toggle-burger:before,
#nav-toggle:checked ~ #left-menu #nav-toggle-burger:after,
#nav-toggle:checked ~ #right-menu #nav-toggle-burger:after {
  width: 16px;
  background: var(--navbar-light-secondary);
  transform: translate(0, 0) rotate(0deg);
}

#left-menu,
#right-menu {
  height: 100%;
  overflow-y: scroll;
  padding: 16px;
  position: absolute;
  top: 1vw;
  background: var(--navbar-dark-primary);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  color: var(--navbar-light-primary);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  user-select: none;
  transition: width 0.2s;
}

#left-menu {
  left: 1vw;
  width: var(--navbar-width);
}

#right-menu {
  right: 1vw;
  width: var(--navbar-width);
}

hr {
  margin: 0;
  position: relative;
  left: 16px;
  width: calc(100% - 32px);
  border: none;
  border-top: solid 1px var(--navbar-dark-secondary);
}

a {
  color: inherit;
  text-decoration: inherit;
}

input[type="checkbox"] {
  display: none;
}

#nav-header {
  position: relative;
  width: 100%;
  min-height: 80px;
  background: var(--navbar-dark-primary);
  border-radius: 16px;
  z-index: 2;
  display: flex;
  align-items: center;
}

#nav-title {
  font-size: 1.5rem;
  transition: opacity 1s;
}

label[for="nav-toggle"] {
  position: absolute;
  right: 0;
  width: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#nav-toggle-burger {
  position: relative;
  width: 16px;
  height: 2px;
  background: var(--navbar-dark-primary);
  border-radius: 99px;
  transition: background 0.2s;
}

#nav-toggle-burger:before,
#nav-toggle-burger:after {
  content: "";
  position: absolute;
  top: -6px;
  width: 10px;
  height: 2px;
  background: var(--navbar-light-primary);
  border-radius: 99px;
  transform: translate(2px, 8px) rotate(30deg);
  transition: 0.2s;
}

#nav-toggle-burger:after {
  top: 6px;
  transform: translate(2px, -8px) rotate(-30deg);
}

#left-menu .nav-button,
#right-menu .nav-button {
  position: relative;
  margin-left: 16px;
  height: 54px;
  display: flex;
  align-items: center;
  color: var(--navbar-light-secondary);
  cursor: pointer;
  z-index: 1;
  transition: color 0.2s;
}

#left-menu .nav-button span,
#right-menu .nav-button span {
  transition: opacity 1s;
}

#left-menu .nav-button .fas,
#right-menu .nav-button .fas {
  transition: min-width 0.2s;
}

#left-menu .nav-button:hover,
#right-menu .nav-button:hover {
  color: var(--navbar-dark-primary);
}

#nav-footer {
  position: relative;
  width: 100%;
  height: 54px;
  background: var(--navbar-dark-secondary);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  transition: width 0.2s, height 0.2s;
}

#nav-footer-heading {
  position: relative;
  width: 100%;
  height: 54px;
  display: flex;
  align-items: center;
}

#nav-footer-avatar {
  position: relative;
  margin: 11px 0 11px 16px;
  left: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  transform: translate(0);
  transition: 0.2s;
}

#nav-footer-avatar img {
  height: 100%;
}

#nav-footer-titlebox {
  position: relative;
  margin-left: 16px;
  width: 10px;
  display: flex;
  flex-direction: column;
  transition: opacity 1s;
}

#nav-footer-subtitle {
  color: var(--navbar-light-secondary);
  font-size: 0.6rem;
}

#nav-toggle:not(:checked) ~ #nav-footer-toggle:checked + #nav-footer {
  height: 30%;
  min-height: 54px;
}

label[for="nav-footer-toggle"] {
  position: absolute;
  right: 0;
  width: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s, opacity 0.2s;
}

#nav-footer-content {
  margin: 0 16px 16px 16px;
  border-top: solid 1px var(--navbar-light-secondary);
  padding: 16px 0;
  color: var(--navbar-light-secondary);
  font-size: 0.8rem;
  overflow: auto;
}

#nav-footer-content::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

#nav-footer-content::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: #d62929;
}

body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

#p5-canvas {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#left-menu {
  margin-right: 1vw;
}

#right-menu {
  margin-left: 1vw;
}
/* Input styles */
input[type="number"],
input[type="text"] {
  background-color: var(--navbar-dark-primary);
  border: 1px solid var(--navbar-light-secondary);
  color: var(--navbar-light-primary);
  padding: 8px 12px;
  margin-bottom: 10px;
  border-radius: 4px;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type="number"]:focus,
input[type="text"]:focus {
  outline: none;
  border-color: var(--navbar-light-primary);
}

/* Button styles */
button {
  background-color: var(--navbar-dark-primary);
  color: var(--navbar-light-primary);
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:hover {
  background-color: var(--navbar-dark-secondary);
}

button:active {
  transform: translateY(1px);
}

select {
  appearance: none; /* Removes default styling */
  background-color: var(--navbar-dark-primary); /* Background color */
  color: var(--navbar-light-primary); /* Text color */
  padding: 8px 16px; /* Padding for inside content */
  border: 1px solid var(--navbar-light-secondary); /* Border color */
  border-radius: 4px; /* Rounded corners */
  font-size: 1rem; /* Font size */
  cursor: pointer; /* Pointer cursor */
  transition: background-color 0.3s, border-color 0.3s, color 0.3s; /* Smooth transitions */
  font-family: Verdana, Geneva, Tahoma, sans-serif; /* Font family */
}

select:focus {
  outline: none; /* Removes default focus outline */
  border-color: var(--navbar-light-primary); /* Border color on focus */
}

/* Dropdown arrow styling */
select::-ms-expand {
  display: none; /* Hides default arrow in IE */
}

/* Styling for Firefox */
@-moz-document url-prefix() {
  select {
    padding-right: 24px; /* Adjust padding for Firefox */
  }
}

#clearVehicules,
#clearObstacles {
  background-color: #0f4481; /* Blue background color */
  color: white; /* Text color */
  border: none; /* No border */
  padding: 10px 20px; /* Padding */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor */
  transition: background-color 0.3s, color 0.3s; /* Smooth transitions */
  font-family: Verdana, Geneva, Tahoma, sans-serif; /* Font family */
}

#clearVehicules:hover,
#clearObstacles:hover {
  background-color: #357dbf; /* Darker blue on hover */
}

#clearVehicules:active,
#clearObstacles:active {
  transform: translateY(1px); /* Button press effect */
}

#clearVehicules:focus,
#clearObstacles:focus {
  outline: none; /* Removes default focus outline */
}

#removeVehicule,
#removeObstacle,
#removeButton {
  background-color: #9a1111; /* Red background color */
  color: white; /* Text color */
  border: none; /* No border */
  padding: 10px 20px; /* Padding */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor */
  transition: background-color 0.3s, color 0.3s; /* Smooth transitions */
  font-family: Verdana, Geneva, Tahoma, sans-serif; /* Font family */
}

#removeVehicule:hover,
#removeObstacle:hover,
#removeButton:hover {
  background-color: #b71c1c; /* Darker red on hover */
}

#removeVehicule:active,
#removeObstacle:active,
#removeButton:active {
  transform: translateY(1px); /* Button press effect */
}

#removeVehicule:focus,
#removeObstacle:focus,
#removeButton:focus {
  outline: none; /* Removes default focus outline */
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-minmax {
  margin-top: 5px; /* Further reduced margin */
  width: 250px; /* Further reduced width */
  display: flex;
  justify-content: space-between;
  font-size: 12px; /* Further reduced font size */
  color: #ffffff;
}

.box-minmax span:first-child {
  margin-left: 2px; /* Further reduced margin */
}

.range-slider {
  margin-top: 5vh; /* Further reduced top margin */
}

.rs-range {
  margin-top: 5px; /* Further reduced margin */
  width: 250px; /* Further reduced width */
  -webkit-appearance: none;
}

.rs-range:focus {
  outline: none;
}

.rs-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: none;
  background: #ffffff;
  border-radius: 0px;
  border: 0px solid #010101;
}

.rs-range::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: none;
  background: #ffffff;
  border-radius: 0px;
  border: 0px solid #010101;
}

.rs-range::-webkit-slider-thumb {
  box-shadow: none;
  border: 0px solid #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25); /* Further reduced shadow size */
  height: 15px; /* Further reduced thumb height */
  width: 7px; /* Further reduced thumb width */
  border-radius: 7px; /* Adjusted border radius */
  background: rgba(255, 255, 255, 1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px; /* Adjusted margin */
}

.rs-range::-moz-range-thumb {
  box-shadow: none;
  border: 0px solid #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25); /* Further reduced shadow size */
  height: 15px; /* Further reduced thumb height */
  width: 7px; /* Further reduced thumb width */
  border-radius: 7px; /* Adjusted border radius */
  background: rgba(255, 255, 255, 1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px; /* Adjusted margin */
}

.rs-range::-moz-focus-outer {
  border: 0;
}

.rs-label {
  position: relative;
  transform-origin: center center;
  display: block;
  width: 30px; /* Further reduced width */
  height: 30px; /* Further reduced height */
  background: transparent;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  padding-top: 6px; /* Adjusted padding */
  box-sizing: border-box;
  border: 1px solid #fff; /* Further reduced border size */
  margin-top: 3px; /* Further reduced margin */
  margin-left: -15px; /* Adjusted margin */
  color: #fff;
  font-size: 10px; /* Further reduced font size */
}
